.card_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    background-color: gray;
    margin: 20px;
    width: 300px;
    height: 200px;
    border-radius: 25px;
}

.card span {
    padding: 10px;
    margin: 10px;
    text-align: bottom;
}

.tinyBox {
    background-color: darkgray;
    border-radius: 5px;
    width: 50px;
    height: 40px;
}

.tinyBox div {
    background-color: lightgray;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    margin-top: 15px;
}